<nav class="navbar navbar-fixed-top" id="top-menu">
    <div class="navbar-header" id="tes">
        <button type="button" class="navbar-toggle collapsed " id="btnMob" data-toggle="collapse" data-target="#navik" aria-expanded="false"><a href="#"><b>Меню</b></a></button>
        <a href="index.html" class="navbar-brand">#Landshaft</a>
    </div>

    <script src="../js/watch.js"></script>

    <div class="collapse navbar-collapse" id="navik">
        <ul class="nav navbar-nav">
            <li><a href="index.html">Главная</a></li>
            <li><a href="galery.html">Галерея</a></li>
            <li><a href="about.html">О Нас</a></li>
            <li><a href="order.html">Заказать</a></li>
        </ul>
    </div>
</nav>

<footer class="hidden-sm" id="footer">
    © 2016 Skyline
</footer>

<a href="#" title="Вернуться к началу" class="topbutton hidden-sm" id="topBtn"></a>

<div id="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</div>